*{
	padding: 0;
	margin: 0;
	
}
body{
	width:1000px;
	margin: auto;
}
#header{
	height: 250px;
	width: 1000px;
	background-image: url("image/cover.jpg");
	background-repeat: no-repeat;
	background-size:cover; 
	position: relative;
	border-radius: 20px 20px 20px 20px;
	margin-left: 3px;
}
#profile-picture{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 95px;
	left: 5px;

}
#avatar{
	widows: 150px;
	height: 150px;
	border-radius: 50%;
	
}
img#avatar:hover{
	opacity: 0.9;
}
img#avatar:active{
	opacity: 0.7;
}

#name{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: white;
	position: relative;
	bottom: 20px;
	left: 10px;
}
#info{
	width: 350px;
	height: 100px;
	margin-top: 180px;
	/*left: 1000px;
	top: 190px;*/
	color: white;
	font-size: 25px;
	text-decoration: none;
	float: right;
}
.icon{
	display: inline-block;
	margin-right:30px;

}
.icon img{
	width: 50px;
	height: 50px;
}
.icon :hover{
	opacity: 0.8;
}
.icon :active{
	opacity: 0.5;
}
a{
	target:blank;
}
#info a{
	text-decoration: none;
	color: white;

}
div#container{
	padding-top: 20px;
	background-color: #EEEEEE;
	
}
div#container::after{
	clear: both;
	display: table;
	content: "";
	
}
#profile{
	display: inline-block;
	width: 400px;
	height: 200px
	border:0.3px solid black;
	border-radius: 20px;
	background-color: white;
	margin-left: 20px;
	box-shadow: 1px 1px 9px 5px #888888;
	float: left;
}
#profile img{
	width: 20px;
	height: 20px;
	border-color: black;
	border-radius: 20px;
	color: green;
}
#bar img{
	width: 50px;
	height: 50px;
}
#bar{
	float: left;
	position: relative;
	
	background-color: #AAAAAA;
	margin-left: 20px;
	border-radius: 10px;
}
#bar ul >li{
	margin:auto;
	display: inline-block;
	
	padding: 10px 20px 10px 20px;
}
#bar ul >li:hover{
	opacity: 0.8;
	background-color: #BBBBBB;
}